.root {
    width: 100vw;
    background-color: #f3f2f0;
    height: 100vh;
}

.main_wrap {
    max-width: 1132px;
    width: 100% !important;
    max-height: 700px;
    padding: 24px 16px !important;
    height: auto;
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
}

.logo {
    width: 100%;
    height: auto !important;
    min-height: 30px;
    margin: 0 0;
    display: block;
}

.logo>img {
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    height: 34px;
    width: 135px;
}

.box {
    width: 352px;
    height: auto;
    margin: 0px auto !important;
    padding: 24px 24px 0px;
    border-radius: 8px;
    background-color: #fff !important;

}

.title {
    position:  relative !important;
    text-align: center !important;
    justify-content: center !important;
    font-weight: 400 !important;
    width: auto !important;
    font-size: 32px !important;
    color: #000000ec !important;
    height: 40px;
    padding: 24px 16px !important;

}

.title2 {
    float: left !important;
    font-weight: 400 !important;
    /* width: 100%; */
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 14px !important;
    margin-top: 0px !important;
}

.field2{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.login_inputs {
    margin: 0 auto !important;
    max-width: 352px !important;
    width: 100% !important;
    border-radius: 4px;
    font-size: 16px;
    height: 33px;
    padding: 0px 0px !important;
    border:0px solid rgba(0, 0, 0, 0.75);
    padding-left: 15px !important;
    & input{
        width: 100% !important;
    }
}
.login_inputs:hover{
    background-color: #f3f2f0 !important;
}
.input_labels{
    text-align: left !important;
    font-size: 14px !important;
    /* margin-top: 22px !important; */
    font-weight: 600 !important;
    margin-bottom: 4px;
    color:rgba(0, 0, 0, 0.75) !important;
}

.login_inputs>div>fieldset {
    border-color: rgba(0, 0, 0, 0.8);
}

.show_btn {
    color: #0a57a5 !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    box-shadow: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    height: auto !important;
    padding: 4px 7px !important;
    text-align: center !important;
    text-transform: none !important;
    justify-content: right !important;
    margin-right: 8.5px !important;
    margin-top: -2px !important;
    
}

.show_btn_wrap {
    margin-right: -10px;
    margin-top: 2px;
}
.sign_in_btn {
    margin-top: 16px !important;
    background-color: #0a66c2 !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 20px 0 !important;
    box-shadow: none !important;
    border: 2px solid transparent !important;
    text-transform: none !important;
}

.divider {
    color: #00000098;
    margin: 22px 0 !important;
}

.txt_oauth_text {
    /* margin-top: 2px !important; */
    text-align: center !important;
    text-align: center !important;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    line-height: 16px !important;
}

.oauth_btn {
    margin-top: 13px;
}

.oauth_btn_google {
    border: 1px solid black !important;
    height: auto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    width: 323.5px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 15px !important;
    margin-top: -2px !important;
    font-stretch:88% !important;
    color: #3c4043 !important;
    font-family: "Google Sans",arial,sans-serif !important;
}

.oauth_btn_google:hover {
    background-color: #f3f3f3 !important;
}

.oauth_btn_google>img,
.oauth_btn_google>svg {
    width: 22px !important;
    height: 22px !important;
    margin-right: 10px !important;
}

.policy_links {
    font-weight: 600 !important;
    text-decoration: none !important;
    color: #0a66c2 !important;
}

.policy_links:hover {
    text-decoration: underline;
}

.sign_up_text {
    position: relative !important;
    height: 20px;
    margin-top: 8px !important;
    font-size: 16px !important;
    text-align: center !important;
    justify-content: center !important;
    padding: 16px 16px 24px !important;
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: 400 !important;
    line-height: 24px !important;
}

.sign_up_link {
    color: #0a66c2 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}

.sign_up_link:hover {
    text-decoration: underline !important;
}

.go_login{
    width: 100% !important;
    text-align: center !important;
    background-color: #fff !important;
    height: 64px !important;
}
.footer_wrap {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    text-align: center !important;
    height: auto !important;
    min-height: 50px !important;
    background-color: #fff !important;
    display: flex !important;
}

.footer {
    position: relative !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    align-items: start !important;
    justify-items: start !important;
    flex-wrap: wrap !important;
}

.footer_text {
    font-size: 12px !important;
    color: #00000099 !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    margin: 0 8px !important;
    padding: 0 !important;
    text-decoration: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.footer_text>img {
    width: 60px !important;
    height: 16px !important;
    margin-right: 3px !important;

}

.footer_text:hover {
    text-decoration: underline !important;
}

.footer_text:nth-child(1):hover {
    text-decoration: none !important;
}
.helps{
    margin-top: 16px !important;
    font-size: 14px !important;
}
.helps_link{
    color: #0a66c2 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
/* @media screen and (max-width: 770px) {
    .logo>svg{
        margin-left: 32px; 
    }
    .box_wraper{
        width: 100% !important;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative !important;
        margin-top: 16px !important;
    }
    .box{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0px !important;
        width:352px !important;
    }
    .login_inputs{
        width: 350px !important;
    }
    .footer_wrap{
        display: none !important;
    }
}
@media screen and (max-width: 400px) {
    .logo>svg{
        margin-left: 32px; 
    }
    .box_wraper{
        width: 100% !important;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative !important;
        margin-top: 16px !important;
    }
    .box{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0px !important;
        width:302px !important;
    }
    .login_inputs{
        width: 300px !important;
    }
    .footer_wrap{
        display: none !important;
    }
} */