.root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px !important;
    width: 100% !important;
    background-color: #fff;
    padding:12px 0px !important;
    box-sizing: border-box !important;
    box-shadow: unset !important;
}
.root:hover{
    box-shadow: 0px 0px 8px 0px #0000001a !important;
    /* background-color: rgb(238, 236, 236); */
}
.content{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100% !important;
    padding: 12px 6px !important;
}
.avatar{
    height: 72px !important;
    width: 72px !important;
    border-radius: 50%;
    margin-right: 8px !important; 
}
.wrapUser{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.userData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100% !important;
}
.userName{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #000000e6 !important;
    line-height: 24px !important;
}
.userHeading{
    font-size: 14px !important;
    font-weight: 400 !important;
    max-height:20px;
    width: 100%!important;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    /* white-space: nowrap; */
    color: #00000099 !important;
    line-height: 20px !important;
}
.userTime{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #00000099 !important;
    line-height: 16px !important; 
}
.wrapBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}
.acceptBtn{
    height: 28px !important;
    width: 40px !important;
    border-radius: 45px !important;
    padding:18px 45px !important;
    margin-right: 8px !important;
    border:1px solid #0A66C2 !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px   !important;
    text-transform: none !important;
}
.acceptBtn:hover{
    background-color: #0a66c230 !important;
    border-width: 2px !important;
    /* color: #fff !important; */
}
.rejectBtn{
    text-transform: none !important;
    height: 28px !important;
    width: 40px !important;
    border-radius: 45px !important;
    padding:6px 16px !important;
    margin-right: 8px !important;
    color: #00000099 !important;
    box-sizing: content-box !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px   !important;
}
.rejectBtn:hover{
    background-color: unset !important;
}
@media (max-width: 1000px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}