.root {
    padding: 16px 24px !important;
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}

.label {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #00000099 !important;
    margin-bottom: 2px !important;
}
.input{
    height: 250px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 6px 8px !important;
    border: 1px solid black;
    align-content: start !important;
    justify-content: start !important;
}
.input>textarea {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #000000e6 !important;
    height: 100% !important;
    width: 100% !important;
    
}
.count{
    font-size: 14px !important;
    line-height: 21px !important;
    color: #000000e6 !important;
    font-weight: 400 !important;
    text-align: right !important;
    margin-right: 2px !important;
    margin-bottom: 24px !important;
}
.heading{
    font-size: 20px !important;
    line-height: 30px !important;
    color: #000000e6 !important;
    font-weight: 600 !important;
}
.subHeading{
    font-size: 14px !important;
    line-height: 21px !important;
    color: #000000e6 !important;
    font-weight: 400 !important;
    margin-bottom: 8px !important;

}
.skillTile{
    display: flex !important;
    justify-content: space-between !important;
    align-content: center !important;
    padding: 8px 0 !important;
    height: 64px !important;
    width: 100% !important;

}
.tileLeft{
    display:flex !important;
    align-content: center !important;
    justify-content: center !important;
}
.skillName,.skillIcon{
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    color: #000000e6 !important;
    align-self: center !important;
    justify-self: center !important;
}
.skillName{
    padding-left: 12px !important;
}
.skillIcon{
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    box-sizing: border-box !important;
    align-self: center !important;
    justify-self: center !important;
}
.tileRight{
    display:flex !important;
    align-content: center !important;
    justify-content: center !important;
}
.inputSkill{
    /* height: 280px !important; */
    min-width: 100% !important;
    box-sizing: border-box !important;
    padding: 6px 8px !important;
    border: 1px solid black;
    align-content: start !important;
    justify-content: start !important;
}
.inputSkill>input {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #000000e6 !important;
    height: 100% !important;
    min-width: 100% !important;
    
}
.warningMessage{
    color: #56687a !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}