.main{
    border: 1px solid rgba(140, 140, 140, 0.25) !important;
    border-radius: 8px !important;
    box-shadow: unset !important;
    max-width: 555px !important;
    /* max-height: 790px !important;
    min-height: 790px !important; */
    width: 100% !important;
    height: 100% !important;
    /* background-color: rgb(245, 242, 239) !important;  */
    margin: 10px !important;  
}

.cardHeader{
    position:  relative !important;
    flex-direction: row !important;
    padding: unset !important;
    box-sizing: border-box !important;
    margin-top: 3px !important;
    width: 100% !important;
}
.postHeaderWrap{
    margin:unset  !important;
    width:100% !important;
    height:64px !important;
    padding: 12px 76px 0px 16px !important;
    margin-bottom: 8px  !important  ;
}
.subpostHeader{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    width:100% !important;  
    margin-right:32px !important; ;
    height: 52px !important;
}
.postHeaderUser{
    display: flex;
    flex-direction: column;
    height: 52px !important;
    align-items: center;
    justify-content: left;
    width: 65% !important;
}
.postHeaderAvatar{
    height: 48px !important;
    width: 48px !important ;
}
.postHeaderUser p{
    margin:unset !important;
    padding-left: 10px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.6) !important;
    line-height: 16px !important;
    /* float: left !important; */
    /* width: 100% !important; */
    /* height: min-content; */
    margin-right: auto !important;
    text-align: left !important;
    box-sizing: border-box !important;
}
.postHeaderUser>p:nth-child(1){
    color:rgb(0, 0, 0) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
}
.postHeaderUser>p:nth-child(2){
    width: 100% !important;
    max-height: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.postHeaderUser>p:nth-child(3){
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
}
.cardContent{
    padding:0px 16px !important;
}
.postBody{
    /* margin:unset !important; */
    padding: 0px  !important;
    height: auto !important;
    width: auto !important;
    display: flex !important;
    flex-direction: column !important;
    /* flex-wrap: nowrap !important; */
    /* background-color: red; */
}
.postBody>pre{
    margin:unset !important;
    padding: 0px 0px 0px 0px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0,0.9) !important;
    line-height: 20px !important;
    text-align: justify !important;
    text-wrap: wrap !important;
}
.postTitle{
    margin:unset !important;
    padding: 0px 0px 0px 0px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0,0.9) !important;
    line-height: 24px !important;
    text-align: left !important;
    text-wrap: wrap !important;

}
.postBody>img{
    margin: 5px -16px;
    width: 555px !important;
    /* width: 100% !important; */
}
.postLikeCount{
    width: 100% !important;
    box-sizing: border-box !important;
    padding-bottom: 8px !important;
    padding-top: 3px !important;
    text-align: left !important;
    height:35px !important;
}
.emojis{
    word-spacing: 0;
    letter-spacing: 0;

}
/* .emojis:nth-child(2){
    margin-left: -10px !important;
} */
.likeCount{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important; 
    justify-content: flex-start !important;
    font-size: 12px !important;
}
.count{
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.6) !important;
    line-height: 16px;
}
.postButtonGroup{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    /* padding: 0px 16px !important; */
    height: min-content !important;
    min-height: 56px !important;
    box-sizing: border-box !important;
}
.postButtonGroup>button{
    border: none !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 6px !important;
    line-height: 28px !important;
    width: 100% !important;
    text-transform: none !important ;
    min-height: 48px !important;
    height: min-content !important;
    display: inline-flex !important;
    flex-direction: row !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    vertical-align: middle !important;
    overflow: hidden !important;
}
.postButtonGroup>button:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.postButtonGroup>button>svg{
    height: 24px !important;
    width: 24px !important;
}
.cardActions{
    padding: 0px 16px !important;
}
.reactionSelector{
    position: absolute !important;
    & div{
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 0px !important;
        & svg{
            height: 48px !important;
            width: 48px !important;
            box-sizing: border-box !important;
            margin-top: 16px !important;
        }
    }
}
.followBtn{
    position: absolute !important;
    right: 15px !important;
    color: #0a66c2 !important;
    top: 25px !important;
    text-transform: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    & svg{
        height: 24px !important;
        width: 24px !important;
    }
    /* z-index: 1 !important; */
}
.followBtn:hover{
    background-color:unset !important;
}
@media (max-width: 1200px) {
    .main,.postHeaderWrap{max-width: 387px !important;}
    .postBody>img{
        width: 387px !important;
    }
    .postButtonGroup>button{
        width: auto !important;
    }
    .cardActions{
        padding: 0 8px !important;
    }
}