.MuiDialog-root .MuiDialog-container .MuiPaper-root{
    max-width:unset !important;
}
.MuiDialogContent-root{
    padding: unset !important;
}
.MuiInputBase-input{
    width: unset !important;
}
.dialogbox>.MuiDialog-container{
    align-items: flex-start !important;
}
.myNetworkAccordion .MuiButtonBase-root{
    min-height: unset !important;
}
.myNetworkAccordion 
.MuiAccordionSummary-content.Mui-expanded{
    margin: 12px 0px !important;
}
.Mui-selected{
    color:#01754f !important; 
}