.root{
    position: relative !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f2ee;
    width: 100% !important;
    min-height: 100vh !important;
    /* margin: auto !important; */
    padding:0px 20px 0px 20px !important;
    box-sizing: border-box !important;
    padding-top: 24px !important;
    
}
.LeftPanel{
    position: sticky !important;
    top: 77px !important;
    width: 300px !important;
    height: auto!important;
    /* border: 1px solid black; */
    /* background-color: #f5f5f5 !important; */
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box !important;
}
.RightPanel{
    width: 100% !important;
    max-width:800px !important;
    height: 100% !important;
    /* background-color: #fff !important; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box !important;
}
.requestPanel{
    width: 100% !important;
    height: auto !important;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 0px 10px 0px !important;
    border: 1px solid rgba(140, 140, 140, 0.2);
    border-radius: 8px !important;
    margin: 7.5px !important;
    /* padding: 16px 10px !important; */
    box-sizing: border-box !important;
}

.suggessionPanel{
    width: 100% !important;
    height: auto !important;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px !important;
    border: 1px solid rgba(140, 140, 140, 0.2);
    border-radius: 8px !important;
    margin: 7.5px !important;
    padding: 16px 10px 8px 10px !important;
    box-sizing: border-box !important;
}
.catchUpPanel{
    width: 100% !important;
    height: auto !important;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px !important;
    border: 1px solid rgba(140, 140, 140, 0.2);
    border-radius: 8px !important;
    margin: 7.5px !important;
    padding: 0 !important;
    padding-bottom: 12px !important;
    box-sizing: border-box !important;
}
.suggessionPanelBody{
    width: unset  !important;
    height: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(min(190px, 100%), 1fr)); */
    padding: 10px 0px 10px 0px !important;
}
.suggessionPanelHead{
    width: 100% !important;
    height: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px!important;
}
.catchUpPanelHead{
    width: auto !important;
    height: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px!important; 
}
.requestPanelHead{
    width: 100% !important;
    height: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px !important;
}
.titleBtn{
    color:#00000099 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    margin: 0px !important;
    padding: 0px 16px !important;
    text-transform: none !important;
    min-width: unset !important;
}
.titleBtn:hover{
    color:#000000BF !important;
    background-color: unset !important;
}
.titlebtn2{
    padding: 0px 6px !important;
}
.suggessionTitle,.catchUpTitle{
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 24px !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 6px !important;
}
.requestTitle{
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 24px !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 16px !important;
    line-height: 24px !important;
}
.tabPanel{
    width: 100% !important;
    height: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 7.5px 0 7.5px !important;
    margin-bottom: 7.5px !important;
}
.tabsBar{
    border: 1px solid rgba(140, 140, 140, 0.2);
    width: 100% !important;
    background-color: #fff !important;
    padding: 0px 24px !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    height: 52px !important;
}

.tabBtn{
    /* color:#01754f !important;    */
    text-transform: none !important;
    color:#000000BF !important;
}
.tabBtnActive{
    color:#01754f !important;
}
@media (max-width: 1250px) {
    .RightPanel{
        width: 100% !important;
        max-width:604px !important;
    }
}
@media (max-width: 1030px){
    .RightPanel{
        width: 100% !important;
        max-width:410px !important;
    }
}
@media (max-width: 790px){
    /* .RightPanel{
        width: 100% !important;
        max-width:300px !important;
    } */
    .root{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .LeftPanel{
        width: 100% !important;
        max-width:576px !important;
        margin-right: 0px;
        position: relative !important;
    }
    .RightPanel{
        width: 100% !important;
        max-width:576px !important;
        margin-top: 15px !important;
       & div{ margin-left: 0px !important;}
    }
    .suggessionPanelBody>div{
        width: 44% !important;
        min-width: 190px !important;
    }
}
.myNetworkAccordion{
    padding: 0px  !important;
    box-shadow: none !important;
    min-width: 300px !important;
    width: 100% !important;
    border: 1px solid rgba(140, 140, 140, 0.2) !important;
    border-radius: 8px !important;
    margin: 0px 0px 7.5px !important;
    /* height: 52px !important; */
    & div:nth-child(1){
        border-bottom: 1px solid rgba(140, 140, 140, 0.2) !important;
        & div{
            border: 0px !important;
        }
    }
}
.accordionHead{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 20px !important;
    margin: 2px 0 !important;
    padding-left: 8px !important;
    height: 21px !important;
}
.MyNetworkMenu{
    padding:0 0 16px 0 !important;
}
.menuBtn{
    padding:12px 24px  !important;
    margin: 0px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 48px !important; 

    & p:nth-child(1){
        font-size:16px !important;
        color: #0009 !important;
        font-weight: 600 !important;    
        line-height: 20px !important;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        & img{
            width: 20px !important;
            height: 20px !important;
            margin-right: 16px !important;
            opacity: 0.6 !important;
            padding-right: auto !important;
        }
    }
    & p:nth-child(2){
        font-size:16px !important;
        color: #0009 !important;
        font-weight: 400 !important;    
        line-height: 20px !important;
    }
}
/* .menuBtnImg{
    width: 24px !important;
    height: 24px !important;
    margin-right: 8px !important;
} */
.catchUpPanelBtns{
    width: 100% !important;
    height: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 24px !important;
    margin: 0px 0px 0px 0px !important;
    border-bottom: 1px solid rgba(140, 140, 140, 0.2) !important;
    box-sizing: border-box !important;
}

.optionBtn{
    padding: 8px 12px !important;
    margin-left: 6px !important;
    border: 1px solid rgba(140, 140, 140, 0.8) !important;
    border-radius: 50px !important;
    height: 32px !important;
    text-transform: none !important;
    min-width: unset !important;
    & p{
        font-size: 16px !important;
        font-weight: 600 !important;
        color: #000000bf !important;
        line-height: 20px !important;
        margin: 0px !important;
        padding: 0px !important;
        line-height: 16px !important;
    }
}
.optionBtn:hover{
    padding: 8px 11.2px !important;
    border-width: 2px !important;
    background-color: rgba(140, 140, 140, 0.1) !important;
}
.optionBtn:nth-child(1){
    margin: 0px !important;
}
.optionBtnActive{
    background-color: #01754f !important;
    & p{
        color:#fff !important;
    }
}
.optionBtnActive:hover{
    background-color: #015a3c !important;

}
.catchupBoxHead{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 20px !important;
    margin: 0px !important;
    padding: 24px 24px 0px 24px !important;
    height: 21px !important;
}
.menuItemBtn{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    line-height: 20px !important;
    height: 36px !important;
}
.moreMenu{
    /* margin: 5px 0px !important; */
    & ul{
        padding: 4px 0px !important;
        margin: 0px !important;
    }
}
