.root{
    max-width: 100vw;
    /* min-width: 99.5vw; */
    height: 100vh;
    
}
.logo{
    width: 100%;
    height: auto;
    min-height: 66px;
    margin: 0 0;
    display: block;
}
.logo>svg{
    float: left;
    margin-top:31.8px;
    margin-left:56px;
    height: 28px; 
    width: 110px;   
}
.form{
    /* margin-bottom: 15px; */
}
.box_wraper{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    width: 303px;
    height: auto;
    margin: 0 auto !important;
    padding: 14px 24px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.title{
    text-align: left !important;
    font-weight: 600 !important;
    width: 100% !important;
    margin:0 !important;
    padding: 0 !important;
    font-size: 32px !important;
    color :#000000ec !important;
    line-height: 1.25rem;
    margin-top: -2px !important;
}
.title2{
    float: left !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 14px !important;
    margin-top:0px !important;
}
.login_inputs{
    margin: 0 auto !important;
    margin-top: 22px !important;
    width: 302px !important;
    border-radius: 4px;
    font-size: 28px;
    background-color: unset !important;
    & div>input{
        padding: 25px 12px 8px 12px !important;
        width: 100% !important;
    }
}
.login_inputs>div>fieldset{
    border-color:rgba(0, 0, 0, 0.8) ;
}

.show_btn{
    color: #0a57a5 !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    box-shadow: none !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    height: auto !important;
    padding: 4px 7px !important;
    text-align: center !important;
    text-transform: none !important;
    justify-content: right !important;
    background-color: unset !important;
}
.show_btn:hover{
    border: 2px solid #0a66c2 !important;

}
.show_btn:hover,
.forget_password:hover
{
    background-color: #0a66c21e !important;
}
.show_btn_wrap{
    margin-right: -10px;
    margin-top: 2px;
}
.forget_password{
    margin-top: 10px !important;  
    margin-left: -10px !important;
    width: 150px !important;    
    padding: 0px 8px !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    height: auto !important;
    box-shadow: none !important;
    font-size: 16px !important;
    justify-content: left !important;
    color: #0a66c2 !important;
    text-transform: none !important;
    font-weight: 600 !important;
}
.sign_in_btn{
    margin-top: 16px !important;
    background-color: #0a66c2 !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 24px 0 !important;
    box-shadow: none !important;
    border: 2px solid transparent !important;
    text-transform: none !important;
}
.divider{
    color: #00000098;
    margin: 11px 0 !important;
}
.txt_oauth_text{
    margin-top: 2px !important;
    text-align: left !important;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.89) !important;
}
.oauth_btn{
    margin-top: 13px;
}
.oauth_btn_google{
    border: 1px solid black !important;
    height: auto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    width: 100% !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    padding-top:  6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 12px !important;   
    color:hsla(0, 0%, 0%, 0.589) !important; 
    font-family: "Google Sans",arial,sans-serif !important;
}
.oauth_btn_google:hover{
    background-color: #f3f3f3 !important;
}
.oauth_btn_google>img,
.oauth_btn_google>svg{
    width: 22px !important;
    height: 22px !important;
    margin-right: 10px !important;
}
.policy_links{
    font-weight: 600 !important;
    text-decoration: none !important;
    color:#0a66c2 !important;
}
.policy_links:hover{
    text-decoration: underline;
}
.sign_up_text{
    position: relative !important;
    height: 20px;
    margin-top: 32px !important;
    font-size: 16px     !important;
    text-align:unset !important;
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    /* padding-top: 15px !important; */
}
.sign_up_link{
    color: #0a66c2 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
.sign_up_link:hover{
    text-decoration: underline !important;
}
.footer_wrap{
    position: absolute !important;
    /* bottom: 0 !important; */
    top: 93% !important;
    vertical-align: baseline !important;
    width: 100% !important;
    text-align: center !important;
    height: auto !important;
    min-height: 72px !important;
    display: flex !important;
}
.footer{
    position: relative !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    align-items: center !important;
    justify-items: center !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    
}
.footer_text{
    font-size: 12px !important;
    color: #00000099 !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    margin: 0 6px !important;
    padding: 0 !important;
    text-decoration: none !important;
    display : flex !important;  
    align-items: center!important;
    justify-content: center  !important;
}
.footer_text>img{
    width: 60px !important;
    height: 16px    !important;
    margin-right: 3px  !important;

}
.footer_text:hover{
    text-decoration: underline !important;
}
.footer_text:nth-child(1):hover{
    text-decoration: none !important;
}
@media screen and (max-width: 770px) {
    .logo>svg{
        margin-left: 32px; 
    }
    .box_wraper{
        width: 100% !important;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative !important;
        margin-top: 16px !important;
    }
    .box{
        /* width:100% !important; */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0px !important;
        width:352px !important;
    }
    .login_inputs{
        width: 350px !important;
    }
    .footer_wrap{
        display: none !important;
    }
}
@media screen and (max-width: 400px) {
    .logo>svg{
        margin-left: 32px; 
    }
    .box_wraper{
        width: 100% !important;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative !important;
        margin-top: 16px !important;
    }
    .box{
        /* width:100% !important; */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0px !important;
        width:302px !important;
    }
    .login_inputs{
        width: 300px !important;
    }
    .footer_wrap{
        display: none !important;
    }
}