.chatBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 0px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.chatHeader{
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
    align-items: center ;
    box-sizing: border-box !important;
    height: 44px !important;
    width: 100% !important;
    padding:0px 12px !important;
    border-bottom: 1px solid #e0e0e0 !important;
    position: relative !important;
}
.chatUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100% !important; 
    width: auto;
}
.chatUserName{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000000e6 !important;
    line-height: 20px !important;
}
.chatUserHeading{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #00000099 !important;
    line-height: 16px !important;
    height: 16px !important;
    width: auto !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.chatHeaderActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100% !important;
    width: auto;
}
.chatHeaderActionBtn{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    margin: 1.5px 0 !important;
}
.chatAction{
    display: flex;
    flex-direction: column ;
    /* height: 40px; */
    width: 100%;

}
.actionInputWrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 124px;
    width: 100% !important;
    position: relative !important;
}
.chatInput{
    padding: 12px !important;
    min-height: 100px;
    width: 100% !important;
    height: auto !important;
    border:unset !important;
    margin:0px 48px 0px 12px !important;
    border-radius: 8px !important;
    background-color: #f5f5f5!important;
    & textarea{
        align-self: flex-start !important;
        width: 100% !important;
        height: 100% !important;
        line-height: 20px !important;
        font-size: 14px !important;
        text-wrap:wrap !important;
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;

    }
}
.actionBtnsWrap{
    display: flex !important;
    width: 100% !important;
    height: 40px !important;
    box-sizing: border-box  !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 41px !important;
    width: 100% !important;
    padding: 10px 12px 0px 12px !important;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 10px !important;
}
.actionBtns{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    height: 100% !important;
    width: auto !important;
}
.chatActionBtn,.chatOptionBtn{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    /* margin-right: 8px !important; */
    & svg{
        height: 20px !important;
    }
}
.chatOptionBtn>svg{
    width: 24px !important;
    height: 24px !important;
}
.sendBtn{
    padding: 2px 12px !important;
    height: 24px !important;
    width: auto !important;
    border-radius: 50px !important;
    background-color: #0a66c2 !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    cursor: pointer !important;
    text-transform: none !important;
    min-width: unset !important;

}
.chatBoxExpandBtn{
    position: absolute !important;
    top: 12px ;
    right: 2.5px;
}

.chats{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    height: 100% !important;
    width: 100% !important;
    /* padding: 12px !important; */
    box-sizing: border-box !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    /* scrollbar-width: 0px !important; */
    scroll-behavior: smooth !important;
    margin: 0px !important;
}
.chatWraper{
    width: 100% !important;
    height: auto !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    position: relative !important;
    margin-top: 12px !important;
}
.chatWraper:nth-child(1){
    margin-top: 0px !important;

}
.chatSend{
    width: 100% !important;
    height: auto !important;
    box-sizing: border-box !important;
    text-align: left !important;
}
.chatTitle{
    width:335.736px !important;
    padding-right:12px;
    margin: 4px auto 0 56px !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
.chatTitleText {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000000e6 !important;
    line-height: 16px !important;
    /* margin-bottom: 4px !important; */
}
.chatTitleTime{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #00000099 !important;
    line-height: 20px !important;
}
.chatText{
    width:335.736px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #000000e6 !important;
    line-height: 20px !important;
    margin: 4px auto 4px 56px !important;
}
.chatTextWrap:hover{
    background-color: rgba(0, 0, 0, 0.08) !important;
}
.messageAvatar{
    position:absolute !important;
    top: 4px !important;
    left: 8px !important;
}