.root{
    width: 100% !important;
    min-height: 500px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: #f4f2ee !important;
    justify-content:flex-start  !important;
}
.wraper{
    width: 1128px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    min-height: 500px !important;
    margin-top: 24px !important;
}

.main{
    width:804px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.rightPanel{
    width: 300px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.container{
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    box-sizing: border-box !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-bottom: 15px !important;
    padding: 0 24px 24px !important;
    position: relative !important;
    border-radius: 8px !important;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.coverImg{
    width: calc(100% + 48px) !important;
    height: 200px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    background-color: #f4f2ee !important;
    position: relative !important;
    margin: 0 -24px !important;
    border-radius: 8px 8px 0 0  !important;
}
.avatarWrap{
    width: 100%!important;
    height: auto !important;
    display: flex !important;
    box-sizing: border-box !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.avatar{
    width: 152px !important;
    height: 152px !important;
    border: 4px solid #fff !important;
    margin-top: -100px !important;
}
.coverBtn{
    position: absolute !important;
    width: 32px !important;
    height: 32px !important;
    background-color: #fff !important;
    right: 20px !important;
    top: 20px !important;
    & svg{
        height: 20px !important;
        width: 20px !important;
        color: #0a66c2 !important;
    }
}
.coverBtn:hover{
    transition: ease-in-out 200ms !important;
    /* background-color: rgba(140, 140, 140, 0.1) !important; */
    &svg{
        color : #004182 !important;
    }
}
.profileBtn{
    position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #fff !important;
    right: 20px !important;
    top: 210px !important;
    & svg{
        color: #000 !important;
    }
}
.profileBtn:hover{
    transition: ease-in-out 200ms !important;
    background-color: rgba(140, 140, 140, 0.1) !important;
    &svg{
        color : #004182 !important;
    }
}
.editBtn{
    position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    right: 20px !important;
    bottom: 20px !important;
    margin:0 4px !important;
    border-radius: 0 !important;
}  
.contextBox{
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    text-align: left !important;
    box-sizing: border-box !important;
}
.textBox{
    width: auto !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.name{
    font-size: 24px !important;
    font-weight: 600 !important;
    color: #000000e6 !important; 
    line-height: 30px !important;   
}
.heading{
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000000e6 !important; 
    line-height: 20px !important;
    overflow: hidden !important; 
    max-height: 40px !important;  
}
.location{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #00000099 !important; 
    line-height: 18px !important;
    margin-top: 8px !important;   
}
.expBox{
    min-width: 232px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;

}
.connectionText{
    margin: 8px 0 !important;
    color: #0a66c2 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
}
.btnsWrapper{
    height: 32px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap:8px  !important;
}
.btn{
    height: 32px !important;
    padding: 6px 16px !important;
    border-radius: 50px !important;
    text-transform: none !important;
    font-size: 16px !important;
}
.btn1{
    background-color: #0a66c2 !important;
    color:#fff !important;
}
.btn1:hover{
    background-color: #004182 !important;
}
.btn2{
    border: 1px solid #0a66c2 !important;
    color: #0a66c2 !important;
}
.btn2:hover{
    /* color: #004182 !important; */
    border: 2px solid #004182 !important;
    padding: 5px 15px !important;
    box-shadow: none !important;
}
.btn3{
    border: 1px solid #000000BF !important;
    color: #000000BF !important;
}